{% extends "base.html" %}

{% block content %}
    <h1>Suggestions for Dr. Delozier</h1>
    <p>I don't remember you mentioning in class the requirements.txt file to keep track of required packages. I think this would be helpful for tracking packages and versions on pythonanywhere as well as personal computers</p>
    <ul>
        <li>In <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xv-a-better-application-structure">mega tutorial at the bottom of the page</a></li>
        <li><code>(venv) $ pip freeze > requirements.txt</code></li>
        <li><code>(venv) $ pip install -r requirements.txt</code></li>
    </ul>

    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% for post in posts %}
	    <p>
	    	{% include '_post.html' %}
	    </p>
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}